<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bianguojian.project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Permissions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lockActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".ListActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".dayManager"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".MyerDiary"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AccountBook"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".DrawActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AccountAdd"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <receiver android:name=".RemindAlert"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="E_CLOCK"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>